###############################################################################
# Copyright (c) 2017-22, Lawrence Livermore National Security, LLC
# and RAJA Performance Suite project contributors.
# See the RAJAPerf/LICENSE file for details.
#
# SPDX-License-Identifier: (BSD-3-Clause)
###############################################################################

###############################################################################
# General GitLab pipelines configurations for supercomputers and Linux clusters
# at Lawrence Livermore National Laboratory (LLNL).
#
# This entire pipeline is LLNL-specific
#
# Important note: This file is a copy of the template provided by
# llnl/radiuss-shared-ci. It should not require any change from the project to
# get started but could feature project-specific stages.
#
# Instead, each project should provide:
# - .gitlab/subscribed-pipelines.yml
# - .gitlab/custom-jobs-and-variables.yml
# - .gitlab/${MACHINE}-build-and-test-extra.yml
###############################################################################

# We define the following GitLab pipeline variables:
variables:
# Required information about GitHub repository
  GITHUB_PROJECT_NAME: "RAJAPerf"
  GITHUB_PROJECT_ORG: "LLNL"
# Use the umdev service user to run CI. This prevents from running pipelines as
# an actual user.
  LLNL_SERVICE_USER: umdev
# Use the service user workspace. Solves permission issues, stores everything
# at the same location whoever triggers a pipeline.
  CUSTOM_CI_BUILDS_DIR: /usr/workspace/umdev/gitlab-runner
# Tells Gitlab to recursively update the submodules when cloning the project.
  GIT_SUBMODULE_STRATEGY: recursive
# We build the projects in the CI clone directory.
# TODO: add a clean-up mechanism
  BUILD_ROOT: ${CI_PROJECT_DIR}

# We organize the CI on Gitlab in sub-pipelines. Each sub-pipeline corresponds
# to a test phase on a given machine.

# High level stages
stages:
  - build-and-test

# Template for jobs triggering a build-and-test sub-pipelines:
.build-and-test:
  stage: build-and-test
  trigger:
    include:
      - local: '.gitlab/custom-jobs-and-variables.yml'
      - project: 'radiuss/radiuss-shared-ci'
        ref: v2022.12.0
        file: '${CI_MACHINE}-build-and-test.yml'
      - local: '.gitlab/${CI_MACHINE}-build-and-test-extra.yml'
    strategy: depend
    forward:
      pipeline_variables: true

include:
  # [Optional] checks preliminary to running the actual CI test
  #- project: 'radiuss/radiuss-shared-ci'
  #  ref: v2022.12.0
  #  file: 'preliminary-ignore-draft-pr.yml'
  # pipelines subscribed by the project
  - local: .gitlab/subscribed-pipelines.yml
